body {
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	margin: 0;

/*	margin: 0 auto;
	width: 1200px;*/
	

}
h1 {
	font-size: 48px;
	font-weight: extra-bold;
	color: #F9FAF8 ;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: space-between;
}

a{
	text-decoration: none;
	margin-left: 15px;
	font-size: 18px;
	color: #E5E7EB;
}


.container{
	width: 1200px;
	margin: 0 auto;
}

.header, .first{
	padding: 15px 0;
	background-color: #1F2937;
}

.section .container {
	display: flex;
	justify-content: space-between;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	font-size: 24px;
	font-weight: bold;
	color: #F9FAF8;
}

.site-description {
	max-width: 600px;
}
.site-image img {
	max-width: 600px;
	max-height: 400px;
}